/** 注册、登录 */
.modal-container{
    background-image: url("../img/bg/sign_bg.png");
    background-size: cover;
    min-width: 700px;
    height: 100%;
}

.modal-dialog{
    width: 430px;
    margin-top: 200px;
}

#login .modal-header{
    background-image: url("../img/bg/group_set_bg.png");
    background-size: cover;
    height: 171px;
    color: #fff;
    text-align: center;
    padding: 60px;
    font-size: 20px;
}

#login .modal-title{
    font-size: 26px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login_info{
    display: block;
    padding: 25px 100px 12px;
}

.login-btn-group{
    height: 49px;
    text-align: center;
    padding: 6px;
}

.btn-login{
    background-color: #FA8072;
    color: white;
    width: 35%;
}

.change{
    font-size: 12px;
    color: gray;
    float: right;
}


